html {
    background-color: 	#fafafa;
    font-family: Merriweather, sans-serif;
}

h1, h2 {
    font-family: "Noto Serif", serif;
}

header {
    overflow-wrap: normal;
    display: inline-block;
    position: fixed;
    width: 14%;
    height: 100%;
    top: 0%;
    left: 0%;
    text-align: center;
    background-color: #bfbfbf;
}

#dark {
    font-family: Merriweather, sans-serif;
}

header h2 {
    position: fixed;
    bottom: 3%;
    left: 7%;
    transform: translate(-50%, 0);
    background-color: midnightblue;
    color: white;
    padding: 1%;
    -webkit-user-select: none;
    user-select: none;
    width: 8.616437rem;
}

main {
    width: 70%;
    position: absolute;
    left: 15%;
    overflow-wrap: normal;
}

a {
    text-decoration: none;
    color: darkblue;
}

.skills ul {
    padding-inline-start: 0;
}

.skills li {
    display: inline-block;
    padding: 2% 4% 2% 0;
}

.contact-information {
    padding-top: 1%;
    float: right;
}

.contact-information span {
    line-height: 2;
}

.contact-information #phone {
    display: inline;
    color: black;
}

footer {
    display: block;
    width: 100%;
    height: 12rem;
}

@media screen and (max-width: 1140px) {
    header {
        display: block;
        height: 6rem;
        width: 100%;
        z-index: 100;
        text-align: initial;
    }

    header h1, header h2 {
        display: inline-flex;
        position: static;
        
    }

    header h1 {
        position: absolute;
        left: 2rem;
        align-items: center;
    }

    header h2 {
        position: absolute;
        right: -2rem;
        left: initial;
        align-items: center;
    }

    main {
        top: 6rem;
    }
}